.about_content {
    @include grid();
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-shrink: 0;

    & > h2, & > h1 {
        @include font_h2($font-family, $clr_text);
        white-space: nowrap;
        flex: 0 0 auto;
        margin-bottom: 16px;

    }

    .content {
        margin-right: 24px;

        @media(max-width: 1280px) {
            margin-right: 0;
        }
        & > h2, & > h1 {
            @include font_h1($font-family, $clr_text2);
            margin-top: 24px;
            margin-bottom: 18px;

        }
    }

    & .container {
        // width: calc($column_abs * 6 + $gutter_abs * 5);
        width: 100%;
        padding: 0;

        // @media (max-width: 1600px) {
        //     width: calc($column_abs_maxW_1600 * 10 + $gutter_abs_maxW_1600 * 9);
        // }

        // @media (max-width: 1440px) {
        //     width: calc($column_abs_maxW_1440 * 10 + $gutter_abs_maxW_1440 * 9);
        // }

        // @media (max-width: 1280px) {
        //     width: calc($column_abs_maxW_1280 * 10 + $gutter_abs_maxW_1280 * 9);
        // }

        // @media (max-width: 1024px) {
        //     width: calc($column_abs_maxW_1024 * 6 + $gutter_abs_maxW_1024 * 5);
        // }

        // @media (max-width: 768px) {
        //     width: calc($column_abs_maxW_768 * 4 + $gutter_abs_maxW_768 * 3);
        // }

        & > p {
            @include font_p1($font-family, $clr_text);
            margin-bottom: 12px;

            & > a {
                color: $clr_main;
                &:hover {
                    color: $clr_yellow;
                }
            }
        }

        & > ul {
            list-style-type: disc;
            @include font_lead($font-family, $clr_text);
            font-weight: bold;
            margin-bottom: 14px;
            // border-right: 5px solid $clr_text;
            padding: 24px 48px;
            border-radius: 14px 0 0 14px;
            background-color: $clr_bg;

            @media (max-width: 480px) {
                padding-left: 26px;
                padding-right: 8px;
            }

            & a {
                color: $clr_text2;
                text-decoration: underline;
            }
        }

        & > h3 {
            @include font_lead($font-family, $clr_text);
            margin-bottom: 14px;
        }

        & > .content > p {
            @include font_p1($font-family, $clr_text);
            margin-bottom: 14px;
        }

        & > .content > ul {
            list-style-type: disc;
            @include font_lead($font-family, $clr_text);
            font-weight: bold;
            margin-bottom: 14px;
            // border-right: 5px solid $clr_text;
            padding: 24px 48px;
            border-radius: 14px 0 0 14px;
            background-color: $clr_bg;

            @media (max-width: 480px) {
                padding-left: 26px;
                padding-right: 8px;
            }
        }
    }
}


.zoomwall {
    font-size: 0;
    overflow: hidden;
  }

  .zoomwall img {
    width: auto;
    height: 15vw;
    opacity: 1;
    vertical-align: top;
    transform-origin: 0% 0%;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .zoomwall.lightbox img {
    opacity: 0.3;
    transition-timing-function: ease-in;
  }

  .zoomwall.lightbox img.active {
    opacity: 1;
  }
