.aside {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
    height: auto;
    align-self: stretch;
    width: calc($column_abs * 4 + $gutter_abs * 3);
    @media(max-width: 1600px) {
        width: calc($column_abs_maxW_1600 * 4 + $gutter_abs_maxW_1600 * 3);
    }

    @media(max-width: 1440px) {
        width: calc($column_abs_maxW_1440 * 4 + $gutter_abs_maxW_1440 * 3);
    }

    @media(max-width: 1280px) {
        width: calc($column_abs_maxW_1280 * 4 + $gutter_abs_maxW_1280 * 3);
    }


    @media (max-width: 1024px) {
        display: none;
    }

    & > aside {
        position: sticky;
        top: 175px;
        right: 0;
        box-sizing: border-box;
        flex: 0 0 auto;
        background-color: $clr_white;
        border-radius: 14px 0 14px 0;
        border: 2px solid $clr_grey2;
        padding: 14px;
        overflow: hidden;



        & > h2 {
            @include font_min_lead($font-family, $clr_text);
            text-align: center;
        }
        & > h3 {
            @include font_lead($font-family, $clr_text);
        }

        & > ul {
            position: relative;
            list-style-type: none;

            & > li {
                padding-top: 14px;

                border-bottom: 1px solid $clr_grey2;

                & a {
                    & > h4 {
                        @include font_small($font-family, $clr_text);
                        font-weight: 700;
                        margin-bottom: 7px;
                        pointer-events: none;
                        margin-bottom: 14px;
                    }

                    & > h3 {
                        @include font_min_lead($font-family, $clr_main);
                    }

                    & picture {
                        display: block;
                        margin-bottom: 14px;
                        overflow: hidden;
                        border-radius: 14px 0 14px 0;
                    }

                    & > .disabled {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 200px;
                        transform: translateX(200%);

                        border-radius: 0 14px;

                        overflow: hidden;

                        transition: transform 0.3s ease-in-out,
                            opacity 0.3s ease-in-out;

                        opacity: 0;

                        &.active {
                            transform: translateX(0%);

                            opacity: 1;
                        }
                    }

                    & > p {
                        @include font_min_lead($font-family, $clr_text);
                        // text-align: center;
                    }

                    &:hover {
                        & > h4 {
                            color: $clr_main;
                        }
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid $clr_grey2;
                }
            }
        }
    }
}
