.category {
    & > .container {
        
        & h2 {
            @include font_h2($font-family, $clr_text);
            margin-bottom: 28px;

        }
        & > .content {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 24px;

            & > ul {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                // grid-template-columns: repeat(3, 1fr);
                gap: calc($gutter_abs * 1);

                @media (max-width: 1600px) {
                    gap: calc($gutter_abs_maxW_1600 * 1);
                }
  
                  @media (max-width: 1440px) {
                    gap: calc($gutter_abs_maxW_1440 * 1);
                  }
  
                  @media (max-width: 1280px) {
                    gap: calc($gutter_abs_maxW_1280 * 1);
                }

                @media (max-width: 1024px) {
                    gap: calc($gutter_abs_maxW_1024 * 1);
                    grid-template-columns: repeat(3, 1fr);
                }
  
                  @media (max-width: 768px) {
                    gap: calc($gutter_abs_maxW_768 * 1);
                    grid-template-columns: repeat(1, 1fr);
                  }
  
                  @media (max-width: 480px) {
                    gap: calc($gutter_abs_maxW_768 * 1);
                  }

                & > li {
    
                    & > a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        flex: 0 0 auto;
                        
                        & > div {
                            & > img {
                                border-radius: 14px 0 14px 0;
                                filter: blur(0.5px);
                                transition: all 0.2s ease-in-out;
                                flex: 0 0 auto;
                                object-fit: cover;
                                height: 250px;
                            }
                        }
                        
                        & > p {
                            @include font_lead($font-family, $clr_main);
                            margin: 14px 0;
                        }
                        &:hover {
                            & > div {
                                & > img {
                                    border-radius: 0 14px;
                                    filter: blur(0px);
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}