.first-screen {
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    max-width: calc(100% + 36px);
    height: calc(100vh - 66px);
    margin: 0 -18px;

    .swiper {
        width: 100%;
        height: 100%;

        &>ul {
            li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                & > picture > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: -1;

                    object-fit: cover;
                    height: 100vh;
                }

                & > div.text {
                    @include grid();
                    width: calc( $column_abs * 6 + $gutter_abs * 5 );
                    margin-left: calc( $column_abs * 8 + $gutter_abs * 7 );
                    padding: 0;

                    @media(max-width: 1600px) {
                        width: calc( $column_abs_maxW_1600 * 7 + $gutter_abs_maxW_1600 * 6 );
                        margin-left: calc( $column_abs_maxW_1600 * 5 + $gutter_abs_maxW_1600 * 4 );
                    }

                    @media(max-width: 1440px) {
                        width: calc( $column_abs_maxW_1440 * 7 + $gutter_abs_maxW_1440 * 6 );
                        margin-left: calc( $column_abs_maxW_1440 * 5 + $gutter_abs_maxW_1440 * 4 );
                    }

                    @media(max-width: 768px) {
                        width: calc( $column_abs_maxW_768 * 3 + $gutter_abs_maxW_768 * 4 );
                        margin-left: calc( $column_abs_maxW_768 * 1 + $gutter_abs_maxW_768 * 0 );
                    }

                    @media(max-width: 480px) {
                        width: calc( $column_abs_maxW_768 * 3 + $gutter_abs_maxW_768 * 3 );
                        margin-left: calc( $column_abs_maxW_768 * 0 + $gutter_abs_maxW_768 * 0 );
                        margin: 0 auto;
                    }


                    &>h1 {
                        @include font_h1($font-family, $clr_text);
                        margin-bottom: 32px;
                    }

                    &>div {
                        @include font_lead($font-family, $clr_main);
                        @include font_italic();
                        margin-bottom: 20px;

                    }

                    &>a {
                        @include main_btn($font-family, $clr_white);
                        display: inline-block;


                        @media (max-width: 480px) {
                            display: block;
                            margin-left: auto;
                            text-align: center;
                        }
                    }


                    &.text__left {
                        margin-left: calc( $column_abs * 2 + $gutter_abs * 1 );
                        @media(max-width: 1600px) {
                            margin-left: calc( $column_abs_maxW_1600 * 2 + $gutter_abs_maxW_1600 * 1 );
                        }

                        @media(max-width: 1440px) {
                            margin-left: calc( $column_abs_maxW_1440 * 2 + $gutter_abs_maxW_1440 * 1 );
                        }

                        @media(max-width: 768px) {
                            margin-left: calc( $column_abs_maxW_768 * 1 + $gutter_abs_maxW_768 * 0 );
                        }

                        @media(max-width: 480px) {
                            margin-left: calc( $column_abs_maxW_768 * 0 + $gutter_abs_maxW_768 * 0 );
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }

}
