.first-screen {
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    max-width: calc(100% + 36px);
    height: calc(100vh - 66px);
    margin: 0 -18px;


    @media (max-width: 1280px) {
        min-height: calc(100vh);
        height: auto;
    }

    .swiper {
        position: relative;
        width: 100%;
        height: 100%;

        & > ul {
            width: 100%;

            @media (max-width: 1280px) {
                width: 100%;
            }
            li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding-top: 18px;
                width: 100%;

                & > picture > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: -1;

                    object-fit: cover;
                    height: 100vh;

                    transform: rotate(180deg);

                    @media (max-width: 768px) {
                        min-height: calc(100vh);
                        height: 100%;
                        width: auto;
                    }
                }

                & > div.text {
                    @include grid();
                    margin-left: calc($column_abs * 4 + $gutter_abs * 2);
                    padding: 0;
                    width: auto;

                    @media (max-width: 1600px) {
                        margin-left: calc(
                            $column_abs_maxW_1600 * 4 + $gutter_abs_maxW_1600 *
                                2
                        );
                    }

                    @media (max-width: 1440px) {
                        margin-left: calc(
                            $column_abs_maxW_1440 * 4 + $gutter_abs_maxW_1440 *
                                2
                        );
                    }

                    @media (max-width: 1280px) {
                        margin-left: calc(
                            $column_abs_maxW_768 * 0 + $gutter_abs_maxW_768 * 0
                        );
                    }

                    @media (max-width: 768px) {
                        margin-left: 18px;
                        margin-right: 18px;
                    }

                    & > h1 {
                        @include font_h1($font-family, $clr_text);
                        margin-bottom: 32px;
                    }

                    & > div {
                        @include font_lead($font-family, $clr_main);
                        @include font_italic();
                        margin-bottom: 20px;
                    }

                    & > a {
                        @include main_btn($font-family, $clr_white);
                        display: inline-block;

                        @media (max-width: 480px) {
                            display: block;
                            margin-left: auto;
                            text-align: center;
                        }
                    }

                    ul.text-list {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 20px;
                        max-width: 100%;
                        & > li {
                            border-radius: 30px 0 30px 0;
                            overflow: hidden;
                            flex: 0 0 calc(25% - 40px);
                            padding: 0;
                            height: 250px;
                            padding-bottom: 24px;

                            @media (max-width: 1600px) {
                                flex: 0 0 calc(50% - 20px);
                            }

                            @media (max-width: 480px) {
                                flex: 0 0 calc(100%);
                                height: 150px;
                            }


                            & > a {
                                position: relative;
                                display: inline-block;
                                padding: 24px;
                                height: 100%;
                                width: 100%;
                                transition: opacity 0.2s ease-in, transform 0.2s ease-in;
                                opacity: 0.9;
                                &::before {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    right: 0;
                                    content: "";
                                    background-color: $clr_text;
                                    opacity: 0.7;
                                }

                                &:hover {
                                    opacity: 1;
                                    transform: scale(1.1);
                                }

                                &:active {
                                    transform: scale(0.8);
                                }


                                & > h3 {
                                    @include font_lead(
                                        $font-family,
                                        $clr_white
                                    );
                                    margin-bottom: 7px;
                                    position: relative;
                                }
                                & > p {
                                    @include font_small(
                                        $font-family,
                                        $clr_white
                                    );
                                    position: relative;
                                }
                                & > img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    object-fit: cover;
                                    z-index: -1;
                                    width: calc(100% + 10px);
                                    // max-width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .first-screen__aside {
        position: absolute;
        top: 0;
        left: 18px;
        z-index: 10;
        height: 100%;
        background-color: $clr_main;
        padding: 56px;
        width: calc($column_abs * 3 + $gutter_abs * 3);

        @media (max-width: 1280px) {
            display: none;
        }

        & > h3 {
            @include font_h2($font-family, $clr_white);
            margin-bottom: 24px;
        }

        & > h4 {
            @include font_lead($font-family, $clr_white);
            margin-bottom: 24px;
        }

        &-list {
            & > li {
                margin-bottom: 20px;
                & > p {
                    @include font_h1($font-family, $clr_white);
                    font-size: 86px;
                }
                & > h4 {
                    @include font_lead($font-family, $clr_white);
                }
            }
        }
    }
}
