.footer {
    background: $clr_main;
    padding: 20px 0;
    & > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &:first-child {
            margin-bottom: 24px;
        }

        @media(max-width: 768px) {
            flex-wrap: wrap;
        }
        & > .left-box {
            display: flex;
            // flex-direction: column;
            gap: 12px;
            align-items: flex-start;
            justify-content: flex-start;
            @include font_p1($font-family, $clr_white);

            & a {
                transition: all 0.2s ease-in;
                color: $clr_text;

                &:hover {
                    color: $clr_white;
                    text-decoration: underline;
                }
            }
            @media(max-width: 768px) {
                order: 2;
                flex-wrap: wrap;
            }
        }
        & > nav {
            @media(max-width: 768px) {
                order: 1;
            }
            & > ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 14px;


                & > li {
                    & > a {
                        @include font_small($font-family, $clr_white);
                        transition: color 0.3 ease-in-out;
                        white-space: nowrap;
                        &:hover {
                            color: $clr_text;
                        }
                    }
                }
            }
        }

        & > ul.social {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 14px;


            & > li {
                & > a {
                    @include font_min_lead($font-family, $clr_white);
                    transition: color 0.3 ease-in-out;
                    white-space: nowrap;
                    &:hover {
                        color: $clr_text;
                    }
                }
            }
        }
    }
}


.cookies-block {
    display: none;
    z-index: 1000;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background: transparentize(#9f6453, 0.2);
    backdrop-filter: blur(20px);
    padding: 30px 0;
    z-index: 2147484000 !important;

    // @include media('<sm') {
    //     padding: 20px 0;
    // }

    &.show {
        display: block;
    }

    .cb-content {
        position: relative;
        color: #fff;

        .cbc-text {
            @include font_min_lead($font-family, $clr_white);
            padding-right: 50px;
        }

        .cb-close {
            position: absolute;
            top: -8px;
            right: 0;
            width: 40px;
            height: 40px;
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;

            .close {
                // background-color: transparentize(#9f6453, 0.9);

                svg {
                    fill: #9f6453;
                }

                &:hover {
                    // background-color: transparentize(#9f6453, 0.75);
                }
            }
        }
    }
}
