.footer {
    background: $clr_main;
    padding: 20px 0;
    & > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &:first-child {
            margin-bottom: 24px;
        }

        @media(max-width: 768px) {
            flex-wrap: wrap;
        }
        & > .left-box {
            display: flex;
            // flex-direction: column;
            gap: 12px;
            align-items: flex-start;
            justify-content: flex-start;
            @include font_p1($font-family, $clr_white);

            & a {
                transition: all 0.2s ease-in;
                color: $clr_text;

                &:hover {
                    color: $clr_white;
                    text-decoration: underline;
                }
            }
            @media(max-width: 768px) {
                order: 2;
                flex-wrap: wrap;
            }
        }
        & > nav {
            @media(max-width: 768px) {
                order: 1;
            }
            & > ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 14px;


                & > li {
                    & > a {
                        @include font_small($font-family, $clr_white);
                        transition: color 0.3 ease-in-out;
                        white-space: nowrap;
                        &:hover {
                            color: $clr_text;
                        }
                    }
                }
            }
        }

        & > ul.social {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 14px;


            & > li {
                & > a {
                    @include font_min_lead($font-family, $clr_white);
                    transition: color 0.3 ease-in-out;
                    white-space: nowrap;
                    &:hover {
                        color: $clr_text;
                    }
                }
            }
        }
    }
}
