.header
{
  @include shadow();

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: $clr_bg2;

  border: 1px solid $clr_bg;

  z-index: 100;
  
  & > .container
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;

    & > a.logo
    {
      @include font_h2($font-family, $clr_main);
    }

    & > .search
    {
        background-color: #fff;
        border-radius: 100px;
        display: flex;
        align-items: center;
        filter: drop-shadow(0px 0px 5px #6a6a6a75);
        margin-left: auto;
        margin-right: 50px;
      & > input {
        color: #777;
        background: transparent;
        border: none;
        font-size: calc(50px / 2.5);
        width: 0;
        height: 50px;
        transition: 0.75s width;
        transform-origin: right center;
        text-indent: 20px;
        outline: none;
        .is-invalid {
          outline: 1px solid red;
        }
      }
      & > button {
        cursor: pointer;
        color: #3880ff;
        width: 80px;
        height: 50px;
        border: none;
        font-size: calc(50px / 3);
        background-color: transparent;
        border-radius: 50%;
      }
      &::placeholder {
        color: #555555c7;
        text-transform: lowercase;
      }
      & > .expand {
        width: calc(50px * 7);
      }
    }
    
    & > nav
    {
      & > ul
      {
        @include font_lead($font-family, $clr_text);

        display: flex;
        align-items: center;
        gap: 14px;

        & > li
        {
          & > a
          {
            @include transition(color);

            &:hover
            {
              color: $clr_main;
            }
          }
        }
      }
    }
  }
}