.recept {
    & > .container {
        &.full-content {
            display: flex;
            align-items: flex-start;
            gap: calc($gutter_abs * 1);

            @media (max-width: 1600px) {
                gap: calc($gutter_abs_maxW_1600 * 1);
            }

            @media (max-width: 1440px) {
                gap: calc($gutter_abs_maxW_1440 * 1);
            }

            @media (max-width: 1280px) {
                gap: calc($gutter_abs_maxW_1280 * 1);
            }

            & ul {
                list-style-type: none;
                border: none;
            }

            & > .content > .video {
                h2 {
                    margin-bottom: 14px;
                }

                & > iframe {
                    width: 100%;
                    margin-bottom: 14px;

                    @media (max-width: 1024px) {
                        height: 300px;
                    }
                }
            }
        }

        & > .content-set {
            list-style-type: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 7px;
            border: none;
            padding: 14px 0;

            flex-wrap: wrap;

            & > li {
                @include font_small($font-family, $clr_text);
                display: flex;
                align-items: center;
                & > ul {
                    border: none;
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    gap: 7px;
                    margin-left: 7px;
                    & > li {
                        @include font_small($font-family, $clr_text);
                        white-space: nowrap;
                        padding: 4px 8px;
                        background-color: $clr_main;
                        color: $clr_white;
                        border-radius: 24px;
                    }
                }
                & > span {
                    color: $clr_main;
                    margin-left: 7px;
                }
            }
        }
        & > .title-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 0 0 14px 14px;
            overflow: hidden;
            color: $clr_text;

            & > p {
                display: block;
                position: absolute;
                padding: 24px;
                font-weight: lighter;
                font-style: italic;
                color: $clr_white;
                filter: blur(1px);
                opacity: 0.7;
            }

            &::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $clr_grey;
                opacity: 0.4;
            }

            & > h2 {
                @include font_h1($font-family, $clr_white);
                position: relative;
                text-shadow: 1px 1px 1px rgb(100, 99, 99);
            }
        }

        & img {
            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        & > .content {
            width: calc($column_abs * 8 + $gutter_abs * 7);

            @media (max-width: 1600px) {
                width: calc(
                    $column_abs_maxW_1600 * 8 + $gutter_abs_maxW_1600 * 7
                );
            }

            @media (max-width: 1440px) {
                width: calc(
                    $column_abs_maxW_1440 * 8 + $gutter_abs_maxW_1440 * 7
                );
            }

            @media (max-width: 1280px) {
                width: calc(
                    $column_abs_maxW_1280 * 8 + $gutter_abs_maxW_1280 * 7
                );
            }

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        & > .content > p {
            @include font_p1($font-family, $clr_text);
            margin-bottom: 14px;
            line-height: 145%;
        }

        & > .content > small {
            display: block;
            text-align: center;
            margin: 14px auto;
            padding-left: 30px;
        }

        & > .content > ul {
            list-style-type: disc;
            @include font_lead($font-family, $clr_text);
            font-weight: normal;
            margin-bottom: 14px;
            // border-right: 5px solid $clr_text;
            padding: 24px 48px;
            border-radius: 14px 0 0 14px;
            background-color: $clr_bg;

            @media (max-width: 480px) {
                padding-left: 26px;
                padding-right: 8px;
            }

            & li {
                position: relative;

                & a {
                    display: inline-block;

                    &:hover {
                        color: $clr_main;

                        &::before {
                            width: 30%;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        width: 0%;
                        height: 4px;
                        background-color: $clr_main2;
                        transition: width 0.6s ease-in;
                    }
                }
            }
        }

        & > .content > ol {
            padding: 0;
            @include font_lead($font-family, $clr_text);
            font-weight: bold;
            margin-bottom: 14px;
            // border-right: 5px solid $clr_text;
            padding: 24px 48px;
            border-radius: 14px 0 0 14px;
            background-color: $clr_bg;
        }

        & > .content > a,
        & > .content > p a {
            color: $clr_main;
            text-decoration: underline;
        }

        & > .content > h3,
        & > .content > h4 {
            margin: 0;
            margin-bottom: 14px;
            @include font_h2($font-family, $clr_text);
        }
    }
}
