.recept-day {

    // background-color: $clr_white;

    & > .container {
        & > h2 {
            @include font_h2($font-family, $clr_text);
            margin-bottom: 28px;
        }

        & > .content {

            display: flex;
            align-items: stretch;
            gap: calc($gutter_abs * 1);
            // width: calc( $column_abs * 3 + $gutter_abs * 2 );

            @media (max-width: 1440px) {
                flex-direction: column;
            }

            & > .image {
                flex: 0 0 auto;
                width: calc( $column_abs * 5 + $gutter_abs * 4 );
                border-radius: 0 14px 0 14px;

                @media (max-width: 1440px) {
                    width: 100%;
                }

                & img {
                    width: 100%;
                    object-fit: cover;

                }
            }



            & > .content-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                 & > h3 {
                    @include font_lead($font-family, $clr_main);
                    font-weight: 600;
                    margin-bottom: 14px;
                 }
                 & > p {
                    @include font_lead($font-family, $clr_grey);
                    margin-bottom: 14px;
                 }
                 & > a {
                    @include main_btn($font-family, $clr_white);
                    display: inline-block;
                    align-self: flex-end;
                    margin-top: auto;
                 }

                 @media (max-width: 1440px) {
                    width: 100%;
                }
            }
        }
    }
}
