.steak {
    & > .container {
        .steak-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 12px;

            & > h1 {
                @include font_h1($font-family, $clr_main);
                transition: color 0.2s ease-in-out;

                .active {
                    color: $clr_text2;
                }

                &:hover {
                    color: $clr_text;
                }
            }
        }
        & > h3 {
            @include font_min_lead($font-family, $clr_text);
            text-align: center;
            margin-bottom: 24px;
        }
        .content {
            h3 {
                @include font_h2($font-family, $clr_text);
                margin-bottom: 24px;
            }

            ul {
                li {
                    margin-bottom: 12px;
                    padding-bottom: 12px;
                    border-bottom: 1px solid $clr_main;
                    h4 {
                        @include font_lead($font-family, $clr_text);
                        margin-bottom: 12px;
                        font-weight: 700;



                        @media (max-width: 768px) {
                            font-size: 20px;
                        }
                    }

                    p {
                        @include font_min_lead($font-family, $clr_text);
                        margin-bottom: 12px;
                    }

                    div {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        div.text {
                            display: block;
                            width: calc($column_abs * 7 + $gutter_abs * 6);

                            @media (max-width: 1600px) {
                                width: calc($column_abs_maxW_1600 * 7 + $gutter_abs_maxW_1600 * 6);
                            }

                            @media (max-width: 1440px) {
                                width: calc($column_abs_maxW_1440 * 7 + $gutter_abs_maxW_1440 * 6);
                            }

                            @media (max-width: 1280px) {
                                width: calc($column_abs_maxW_1280 * 7 + $gutter_abs_maxW_1280 * 6);
                            }

                            @media (max-width: 1024px) {
                                width: 100%;
                            }

                            a {
                                color: $clr_main;
                                text-decoration: underline;
                                font-weight: 700 !important;
                            }

                            p {
                                @include font_p1($font-family, $clr_text);

                                margin-bottom: 12px;


                                flex:  0 0 auto;
                                text-transform: none;
                                opacity: 1;


                            }
                        }

                        // @media (max-width: 1600px) {
                        //     gap: calc(gutter_abs_maxW_1600 * 1);
                        // }

                        // @media (max-width: 1440px) {
                        //     gap: calc(gutter_abs_maxW_1440 * 1);
                        // }

                        // @media (max-width: 1280px) {
                        //     gap: calc(gutter_abs_maxW_1280 * 1);
                        // }

                        @media (max-width: 1024px) {
                            flex-direction: column-reverse;
                            gap: 24px;
                        }

                        svg, img {
                            width: calc($column_abs * 4 + $gutter_abs * 3);
                            overflow: hidden;
                            border-radius: 14px 0 0 0;

                            @media (max-width: 1600px) {
                                width: calc($column_abs_maxW_1600 * 4 + $gutter_abs_maxW_1600 * 3);
                            }

                            @media (max-width: 1440px) {
                                width: calc($column_abs_maxW_1440 * 4 + $gutter_abs_maxW_1440 * 3);
                            }

                            @media (max-width: 1280px) {
                                width: calc($column_abs_maxW_1280 * 4 + $gutter_abs_maxW_1280 * 3);
                            }

                            @media (max-width: 1024px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .image {
            position: relative;
            width: 100%;

            > svg {
                width: 100%;
                & path {
                    opacity: 0.8;
                    transition: opacity 0.2s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .hover-list {
                position: absolute;
                top: 0;
                left: 0;
                padding: 14px;
                border-radius: 15px 0 15px 0;
                background-color: $clr_bg2;
                border: 1px solid $clr_text2;
                opacity: 0;
                pointer-events: none;

                @media (max-width: 1024px) {
                    position: static;
                    margin-bottom: 24px;
                }


                &.show {
                    opacity: 1;
                }

                & > h2 {
                    @include font_h2($font-family, $clr_text2);
                    margin-bottom: 10px;
                }

                & > p {
                    @include font_p1($font-family, $clr_main);
                }
            }
        }
    }
}
