.video-recepts {
    & .full-content {
        & > h2 {
            margin-bottom: 15px;
        }
    }

    & ul {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        flex-wrap: wrap;
        gap: calc($gutter_abs * 1);
        margin-bottom: calc($gutter_abs * -1);

        @media (max-width: 1440px) {
            gap: calc($gutter_abs_maxW_1440 * 1);
            margin-bottom: calc($gutter_abs_maxW_1440 * -1);
        }

        @media (max-width: 1280px) {
            gap: calc($gutter_abs_maxW_1280 * 1);
            margin-bottom: calc($gutter_abs_maxW_1280 * -1);
        }

        @media (max-width: 1024px) {
            gap: calc($gutter_abs_maxW_1024 * 1);
            margin-bottom: calc($gutter_abs_maxW_1024 * -1);
        }

        & > li {
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            flex: 0 0 auto;
            width: calc($column_abs * 3 + $gutter_abs * 2);
            // background-color: $clr_grey3;
            // border-radius: 14px 0 14px 0;
            border-top: 2px solid $clr_grey3;
            border-left: 2px solid $clr_grey3;
            transition: all 0.2s ease-in;
            // height: 524px;
            @include box-shadow;
            // margin-bottom: calc($gutter_abs * 1);

            @media (max-width: 1600px) {
                width: calc(
                    $column_abs_maxW_1600 * 3 + $gutter_abs_maxW_1600 * 2
                );
                margin-bottom: calc($gutter_abs_maxW_1600 * 1);
            }

            @media (max-width: 1440px) {
                width: calc(
                    $column_abs_maxW_1440 * 3 + $gutter_abs_maxW_1440 * 2
                );
                margin-bottom: calc($gutter_abs_maxW_1440 * 1);
            }

            @media (max-width: 1280px) {
                width: calc(
                    $column_abs_maxW_1280 * 3 + $gutter_abs_maxW_1280 * 2
                );
                margin-bottom: calc($gutter_abs_maxW_1280 * 1);
            }

            @media (max-width: 1024px) {
                width: calc(
                    $column_abs_maxW_1024 * 4 + $gutter_abs_maxW_1024 * 3
                );
                margin-bottom: calc($gutter_abs_maxW_1024 * 1);
                flex: 1 0 auto;
            }

            @media (max-width: 1024px) {
                width: calc(
                    $column_abs_maxW_1024 * 4 + $gutter_abs_maxW_1024 * 3
                );
                margin-bottom: calc($gutter_abs_maxW_1024 * 1);
                flex: 1 0 auto;
            }

            @media (max-width: 768px) {
                width: calc(
                    $column_abs_maxW_768 * 4 + $gutter_abs_maxW_768 * 3
                );
                margin-bottom: calc($gutter_abs_maxW_768 * 1);
                flex: 1 0 auto;
            }

            & > a {
                display: flex;
                flex-direction: column;
                height: 100%;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                & .video-recepts__title {
                    @include font_lead($font-family, $clr_text);
                    padding: 15px;
                }
                & .video-recepts__date {
                    @include font_small($font-family, $clr_text2);
                    padding: 15px;
                    margin-top: auto;
                }
                & .video-recepts__video {
                    iframe {
                        max-width: 100% !important;
                        // height: auto !important;
                        overflow: hidden;
                        height: 300px;
                    }
                }
            }
        }
    }
}
