$clr_main: #9f6453;
$clr_main2: #E9D6EC;
$clr_grey: #81968F;
$clr_grey2: #b8b9c4;
$clr_grey3:  #dadbe071;
$clr_text: #1F3347;
$clr_text2: #7b4b3e;
$clr_white: #ffffff;
$clr_black: #000000;
$clr_yellow: #E9D6EC;
$clr_bg: #E4E6F1;
$clr_bg2: #F7F7F7;
$clr_link: #2B3D41;
