$clr_main: #1B75BB;
$clr_main2: #40B2C9;
$clr_grey: #70717B;
$clr_grey2: #b8b9c4;
$clr_grey3:  #dadbe071;
$clr_text: #1F3347;
$clr_white: #ffffff;
$clr_black: #000000;
$clr_yellow: #FFC814;
$clr_bg: #E4E6F1;
$clr_bg2: #F7F7F7;